Repository lamallamadel/atlas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend, deploy-backend

.gitlab-ci.yml:

# ─────────────────────────────────────────────────────────────
# Atlas Immobilier — GitLab CI/CD → Hetzner deploy
#
# Stages:
#   build   — Angular production bundle (only when frontend changes)
#   deploy  — rsync dist + nginx reload / docker compose build + up
#
# Required CI/CD variables (Settings → CI/CD → Variables):
#   DEPLOY_SSH_KEY   — private ed25519 key for lamal@46.225.187.158
# ─────────────────────────────────────────────────────────────

stages:
  - build
  - deploy

variables:
  DEPLOY_HOST: "46.225.187.158"
  DEPLOY_USER: "lamal"
  DEPLOY_DIR:  "/opt/atlas"

# ── Reusable SSH setup ────────────────────────────────────────
.ssh_setup:
  before_script:
    - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
    - eval $(ssh-agent -s)
    - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
    - chmod 644 ~/.ssh/known_hosts

# ─────────────────────────────────────────────────────────────
# FRONTEND
# ─────────────────────────────────────────────────────────────

build-frontend:
  stage: build
  image: node:18-alpine
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend/**/*
        - infra/nginx.conf
        - .gitlab-ci.yml
  cache:
    key: "npm-$CI_COMMIT_REF_SLUG"
    paths:
      - frontend/node_modules/
    policy: pull-push
  script:
    - cd frontend
    - npm ci --prefer-offline
    - npm run build
  artifacts:
    name: "frontend-dist-$CI_COMMIT_SHORT_SHA"
    paths:
      - frontend/dist/frontend/
    expire_in: 1 hour

deploy-frontend:
  stage: deploy
  image: debian:bookworm-slim
  needs:
    - job: build-frontend
      artifacts: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend/**/*
        - infra/nginx.conf
        - .gitlab-ci.yml
  extends: .ssh_setup
  script:
    - echo "→ Syncing dist to $DEPLOY_HOST…"
    - rsync -az --delete --checksum
        frontend/dist/frontend/
        "$DEPLOY_USER@$DEPLOY_HOST:$DEPLOY_DIR/frontend/dist/frontend/"
    - echo "→ Reloading Nginx…"
    - |
      ssh "$DEPLOY_USER@$DEPLOY_HOST" "
        set -e
        cd $DEPLOY_DIR && git pull origin master --quiet
        docker exec nginx nginx -s reload
        echo '✓ Nginx reloaded'
      "
  environment:
    name: production/frontend
    url: https://afroware.app

# ─────────────────────────────────────────────────────────────
# BACKEND
# ─────────────────────────────────────────────────────────────

deploy-backend:
  stage: deploy
  image: debian:bookworm-slim
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend/**/*
        - infra/docker-compose.yml
        - .gitlab-ci.yml
  extends: .ssh_setup
  script:
    - echo "→ Pulling code and rebuilding backend on $DEPLOY_HOST…"
    - |
      ssh "$DEPLOY_USER@$DEPLOY_HOST" "
        set -e
        cd $DEPLOY_DIR
        git pull origin master --quiet
        cd infra
        docker compose build backend
        docker compose up -d backend
        echo '✓ Backend container restarted'
      "
    - echo "→ Waiting for health check…"
    - |
      ssh "$DEPLOY_USER@$DEPLOY_HOST" "
        for i in \$(seq 1 24); do
          STATUS=\$(docker inspect --format='{{.State.Health.Status}}' backend_app 2>/dev/null || echo 'unknown')
          printf '  [%d/24] backend_app: %s\n' \"\$i\" \"\$STATUS\"
          if [ \"\$STATUS\" = 'healthy' ]; then
            echo '✓ Backend is healthy'
            exit 0
          fi
          sleep 5
        done
        echo '✗ Backend did not become healthy within 2 minutes'
        docker logs backend_app --tail=40
        exit 1
      "
  environment:
    name: production/backend
    url: https://api.afroware.app

fix(frontend): 0 erreur tests unitaires - CalendarView, CommandPalette, KeyboardShortcut, polyfill global
  frontend/angular.json
  frontend/src/app/components/calendar-view.component.spec.ts
  frontend/src/app/components/command-palette.component.spec.ts
  frontend/src/app/components/command-palette.component.ts
  frontend/src/app/services/keyboard-shortcut.service.spec.ts
  frontend/src/global-polyfill.js
Due: build-frontend, deploy-frontend

fix(frontend): build - dedupe NgModule declarations, ChartType, @angular/service-worker, shared components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/reports-dashboard.component.ts
  frontend/src/app/components/spinner.component.spec.ts
  frontend/src/app/components/task-card.component.spec.ts
  frontend/src/app/interceptors/correlation-id.interceptor.spec.ts
  frontend/src/app/services/offline.service.spec.ts
  frontend/src/app/services/onboarding-tour.service.spec.ts
  frontend/src/app/shared/shared-components.module.ts
Due: build-frontend, deploy-frontend

chore: mise à jour du fichier .gitignore pour exclure les fichiers de test frontend
  .gitignore
Due: none

fix(ci): add master branch to push triggers for backend and frontend CI
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

refactor(ci): consolidate workflows into single ci-cd.yml with smart change detection
  .github/workflows/backend-ci.yml
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  .github/workflows/frontend-ci.yml
Due: none

improve(ci): enhance change detection logic for robust backend/frontend detection
  .github/workflows/ci-cd.yml
Due: none

refactor(ci): unified GitLab CI/CD with smart change detection and tests
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix(backend): remove maven-toolchains-plugin causing CI failures
  backend/pom.xml
Due: deploy-backend

fix(backend): remove duplicate show-details key in application.yml
  backend/src/main/resources/application.yml
Due: deploy-backend

fix(db): resolve duplicate Flyway migration version numbers (V38, V39, V108, V110)
  backend/src/main/resources/db/migration/V116__Add_whatsapp_template_versioning.sql
  backend/src/main/resources/db/migration/V117__Create_analytics_tables.sql
  backend/src/main/resources/db/migration/V118__Create_api_marketplace_tables.sql
  backend/src/main/resources/db/migration/V119__Create_ml_tables.sql
  backend/src/main/resources/db/migration/V120__Enhance_workflow_system.sql
  backend/src/main/resources/db/migration/V39__Add_update_column_surface.sql
  backend/src/main/resources/db/migration/V40__Add_user_preferences_and_settings.sql
  backend/src/main/resources/db/migration/V41__Add_Index_metadata.sql
Due: deploy-backend

fix(db): resolve remaining duplicate Flyway migration versions (V40)
  backend/src/main/resources/db/migration/V42__Add_update_column_surface.sql
  backend/src/main/resources/db/migration/V43__Add_user_preferences_and_settings.sql
Due: deploy-backend

fix(db): rename reserved keyword 'key' to 'config_key' in V43 migration
  backend/src/main/resources/db/migration/V43__Add_user_preferences_and_settings.sql
Due: deploy-backend

fix(db): rename 'value' to 'config_value' in V43 (reserved keyword)
  backend/src/main/resources/db/migration/V43__Add_user_preferences_and_settings.sql
Due: deploy-backend

fix(db): rename reserved SQL keywords across all migrations (type→obj_type, name→obj_name, status→status_)
  backend/src/main/resources/db/migration/V10__Fix_schema_mismatches.sql
  backend/src/main/resources/db/migration/V110__Add_multi_region_support.sql
  backend/src/main/resources/db/migration/V111__Add_performance_optimization_indexes.sql
  backend/src/main/resources/db/migration/V115__Add_customer_portal_tables.sql
  backend/src/main/resources/db/migration/V117__Create_analytics_tables.sql
  backend/src/main/resources/db/migration/V118__Create_api_marketplace_tables.sql
  backend/src/main/resources/db/migration/V119__Create_ml_tables.sql
  backend/src/main/resources/db/migration/V120__Enhance_workflow_system.sql
  backend/src/main/resources/db/migration/V12__Add_name_to_partie_prenante.sql
  backend/src/main/resources/db/migration/V13__Add_outbound_messaging.sql
  backend/src/main/resources/db/migration/V16__Add_workflow_engine.sql
  backend/src/main/resources/db/migration/V17__Seed_default_workflows.sql
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
  backend/src/main/resources/db/migration/V21__Add_import_job_table.sql
  backend/src/main/resources/db/migration/V25__Add_whatsapp_template_management.sql
  backend/src/main/resources/db/migration/V29__Migrate_dossier_status_to_referential.sql
  backend/src/main/resources/db/migration/V2__Add_jsonb_and_missing_columns.sql
  backend/src/main/resources/db/migration/V30__Add_activity_metadata_and_new_types.sql
  backend/src/main/resources/db/migration/V32__Add_coop_habitat_bounded_context.sql
  backend/src/main/resources/db/migration/V33__Add_in_app_notification_fields.sql
  backend/src/main/resources/db/migration/V35__Add_filter_preset_entity.sql
  backend/src/main/resources/db/migration/V36__Add_comment_threads.sql
  backend/src/main/resources/db/migration/V37__Add_smart_suggestions.sql
  backend/src/main/resources/db/migration/V6__Add_notification_system.sql
  backend/src/main/resources/db/migration/V9__Add_activity_timeline.sql
Due: deploy-backend

fix(db): rename 'action' to 'obj_action' reserved keyword in audit events
  backend/src/main/resources/db/migration/V114__Add_white_label_multi_org_platform.sql
  backend/src/main/resources/db/migration/V119__Create_ml_tables.sql
  backend/src/main/resources/db/migration/V120__Enhance_workflow_system.sql
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
  backend/src/main/resources/db/migration/V43__Add_user_preferences_and_settings.sql
Due: deploy-backend

fix(db): revert incorrect index renames - keep 'status' column where not renamed to 'status_'
  backend/src/main/resources/db/migration/V113__Add_esignature_system.sql
  backend/src/main/resources/db/migration/V114__Add_white_label_multi_org_platform.sql
  backend/src/main/resources/db/migration/V22__Add_task_system.sql
  backend/src/main/resources/db/migration/V4__Add_appointment_entity.sql
  backend/src/main/resources/db/migration/V6__Add_notification_system.sql
Due: deploy-backend

fix(db): restore original migrations (V1-V37) - only fix NEW migrations (V38+) with reserved keywords
  backend/src/main/resources/db/migration/V13__Add_outbound_messaging.sql
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
  backend/src/main/resources/db/migration/V21__Add_import_job_table.sql
  backend/src/main/resources/db/migration/V25__Add_whatsapp_template_management.sql
  backend/src/main/resources/db/migration/V32__Add_coop_habitat_bounded_context.sql
  backend/src/main/resources/db/migration/V35__Add_filter_preset_entity.sql
  backend/src/main/resources/db/migration/V37__Add_smart_suggestions.sql
  backend/src/main/resources/db/migration/V4__Add_appointment_entity.sql
  backend/src/main/resources/db/migration/V6__Add_notification_system.sql
  backend/src/main/resources/db/migration/V9__Add_activity_timeline.sql
Due: deploy-backend

fix(db): restore ALL migrations to original - ONLY keep corrections on V38-V43 (new migrations with reserved keywords)
  backend/src/main/resources/db/migration/V13__Add_outbound_messaging.sql
  backend/src/main/resources/db/migration/V1__Initial_schema.sql
  backend/src/main/resources/db/migration/V21__Add_import_job_table.sql
  backend/src/main/resources/db/migration/V25__Add_whatsapp_template_management.sql
  backend/src/main/resources/db/migration/V32__Add_coop_habitat_bounded_context.sql
  backend/src/main/resources/db/migration/V35__Add_filter_preset_entity.sql
  backend/src/main/resources/db/migration/V37__Add_smart_suggestions.sql
  backend/src/main/resources/db/migration/V4__Add_appointment_entity.sql
  backend/src/main/resources/db/migration/V6__Add_notification_system.sql
  backend/src/main/resources/db/migration/V9__Add_activity_timeline.sql
Due: deploy-backend

fix(db): resolve duplicate Flyway migration versions and remove duplicate YAML key
  backend/src/main/resources/application.yml
  backend/src/main/resources/db/migration/V116__Add_whatsapp_template_versioning.sql
  backend/src/main/resources/db/migration/V117__Create_analytics_tables.sql
  backend/src/main/resources/db/migration/V118__Create_api_marketplace_tables.sql
  backend/src/main/resources/db/migration/V119__Create_ml_tables.sql
  backend/src/main/resources/db/migration/V120__Enhance_workflow_system.sql
  backend/src/main/resources/db/migration/V41__Add_update_column_surface.sql
  backend/src/main/resources/db/migration/V42__Add_Index_metadata.sql
  backend/src/main/resources/db/migration/V43__Add_user_preferences_and_settings.sql
Due: deploy-backend

Create SECURITY.md
  SECURITY.md
Due: none

fix: update component tests to use correct event names and type casting
  frontend/src/app/components/lottie-animation.component.spec.ts
  frontend/src/app/components/waterfall-chart.component.spec.ts
Due: build-frontend, deploy-frontend

feat: mise à jour des dépendances et configuration de test pour le frontend
  .gitlab-ci.yml
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend, deploy-frontend, deploy-backend

Fix Karma ChromeHeadlessCI browser launcher in CI pipeline
  .gitlab-ci.yml
  frontend/karma.conf.js
Due: build-frontend, deploy-frontend, deploy-backend

fix(frontend): Karma ChromeHeadlessCI en CI + script test:ci et karmaConfig
  .gitlab-ci.yml
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package.json
Due: build-frontend, deploy-frontend, deploy-backend

chore(frontend): aligner seuils coverage Karma sur valeurs actuelles
  frontend/karma.conf.js
Due: build-frontend, deploy-frontend

fix(ci): deploy backend/frontend avec fetch + reset --hard au lieu de pull
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix(backend): supprimer bean restTemplate dupliquÃ© dans WebConfig
  .gitlab-ci.yml
  backend/src/main/java/com/example/backend/config/WebConfig.java
  infra/docker-compose.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix(ci): deploy backend only with --no-deps, do not recreate other services
  .gitlab-ci.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix(flyway): renommer V107 postgres en V122 pour Ã©viter doublon avec migration/V107
  backend/src/main/resources/db/migration-postgres/V122__Add_in_app_notification_fields.sql
Due: deploy-backend

fix(db): V41 syntax PostgreSQL DOUBLE PRECISION + V123 audit columns ab_test_experiment
  backend/src/main/resources/db/migration/V123__Add_audit_columns_ab_test_experiment.sql
  backend/src/main/resources/db/migration/V41__Add_update_column_surface.sql
Due: deploy-backend

fix(batch): set spring.batch.job.name when multiple jobs (tests + main config)
  backend/src/main/resources/application.yml
  backend/src/test/resources/application-backend-e2e-h2.yml
  backend/src/test/resources/application-backend-e2e-postgres.yml
  backend/src/test/resources/application-test.yml
Due: deploy-backend

fix(backend): E2E sans Redis + conflit ObjectMapper + schÃ©ma JSON
  backend/src/main/java/com/example/backend/controller/PerformanceController.java
  backend/src/main/java/com/example/backend/entity/ABTestExperiment.java
  backend/src/main/java/com/example/backend/performance/PerformanceMonitoringService.java
  backend/src/test/java/com/example/backend/config/TestSecurityConfig.java
  backend/src/test/resources/application-backend-e2e.yml
Due: deploy-backend

fix(backend): stabilize E2E security, Flyway profile behavior, and webhook tests
  backend/src/main/java/com/example/backend/config/SecurityConfig.java
  backend/src/main/java/com/example/backend/entity/ContractTemplateEntity.java
  backend/src/main/java/com/example/backend/entity/DocumentAuditEntity.java
  backend/src/main/java/com/example/backend/entity/DocumentVersionEntity.java
  backend/src/main/java/com/example/backend/entity/DocumentWorkflowEntity.java
  backend/src/main/java/com/example/backend/entity/SignatureRequestEntity.java
  backend/src/main/java/com/example/backend/entity/SystemConfig.java
  backend/src/main/java/com/example/backend/entity/WorkflowStepEntity.java
  backend/src/main/java/com/example/backend/entity/WorkflowTemplateEntity.java
  backend/src/main/resources/db/migration/V124__Create_document_audit_table.sql
  backend/src/main/resources/db/migration/V125__Create_document_version_table.sql
  backend/src/main/resources/db/migration/V126__Create_document_workflow_table.sql
  backend/src/main/resources/db/migration/V127__Add_audit_columns_ml_tables.sql
  backend/src/main/resources/db/migration/V128__Create_workflow_step_table.sql
  backend/src/main/resources/db/migration/V129__Create_workflow_approval_table.sql
  backend/src/test/java/com/example/backend/FlywayMigrationBackendE2ETest.java
  backend/src/test/java/com/example/backend/WhatsAppOutboundComprehensiveE2ETest.java
  backend/src/test/java/com/example/backend/WhatsAppOutboundFlowBackendE2ETest.java
  backend/src/test/java/com/example/backend/WhatsAppWebhookIntegrationTest.java
  backend/src/test/java/com/example/backend/controller/NotificationBackendE2ETest.java
  backend/src/test/resources/application-backend-e2e-h2.yml
  backend/src/test/resources/application-backend-e2e.yml
Due: deploy-backend

feat: mise a jour des tests d'integration et configuration pour les tests backend-e2e avec H2
  .cursor/rules/context-compaction-threshold.mdc
  backend/pom.xml
  backend/src/test/java/com/example/backend/RateLimitIntegrationTest.java
  backend/src/test/java/com/example/backend/WhatsAppErrorCodeIntegrationTest.java
  backend/src/test/java/com/example/backend/WhatsAppProviderIntegrationTest.java
  backend/src/test/java/com/example/backend/WhatsAppRetryAndRateLimitIntegrationTest.java
  backend/src/test/java/com/example/backend/WhatsAppWebhookIntegrationTest.java
  backend/src/test/resources/application-backend-e2e-h2.yml
Due: deploy-backend

feat: ajout de la journalisation débogage pour WhatsAppCloudApiProvider et WhatsAppProviderIntegrationTest
  backend/src/main/java/com/example/backend/service/WhatsAppCloudApiProvider.java
  backend/src/test/java/com/example/backend/WhatsAppProviderIntegrationTest.java
  backend/src/test/java/com/example/backend/repository/MessageRepositoryPostgresIT.java
Due: deploy-backend

Remove NDJSON debug logging and replace with MDC context enrichment for request tracking
  backend/src/main/java/com/example/backend/entity/OutboundMessageEntity.java
  backend/src/main/java/com/example/backend/filter/CorrelationIdFilter.java
  backend/src/main/java/com/example/backend/service/OutboundJobWorker.java
  backend/src/main/java/com/example/backend/service/OutboundMessageService.java
  backend/src/main/java/com/example/backend/service/WhatsAppCloudApiProvider.java
  backend/src/main/resources/db/migration/V130__Add_tracking_fields_to_outbound_message.sql
  backend/src/test/java/com/example/backend/WhatsAppProviderIntegrationTest.java
  backend/src/test/java/com/example/backend/repository/MessageRepositoryPostgresIT.java
Due: deploy-backend
