Repository lamallamadel/atlas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, deploy-frontend, deploy-backend

build-frontend:
  stage: build
  image: node:18-alpine
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - cd frontend
  - npm ci --prefer-offline
  - npm run build
  artifacts:
    name: frontend-dist-$CI_COMMIT_SHORT_SHA
    paths:
    - frontend/dist/frontend/
  ...

deploy-frontend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

deploy-backend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

feat(dossier): add LeadActivity entity and expose recent activities in dossier v2 API
  backend/src/main/java/com/example/backend/controller/LeadActivityController.java
  backend/src/main/java/com/example/backend/dto/LeadActivityLogRequest.java
  backend/src/main/java/com/example/backend/dto/LeadActivityResponse.java
  backend/src/main/java/com/example/backend/dto/v2/DossierMapperV2.java
  backend/src/main/java/com/example/backend/dto/v2/DossierResponseV2.java
  backend/src/main/java/com/example/backend/entity/Dossier.java
  backend/src/main/java/com/example/backend/entity/LeadActivity.java
  backend/src/main/java/com/example/backend/repository/LeadActivityRepository.java
  backend/src/main/java/com/example/backend/service/LeadActivityService.java
Due: deploy-backend

fix: remove agent-service depends_on ollama (ollama is ai-profile only)
  infra/docker-compose.yml
Due: deploy-backend

fix: add V41 Flyway migration for lead_activity table
  backend/src/main/resources/db/migration/V41__Add_lead_activity.sql
Due: deploy-backend

fix: rename migration V41→V108 (DB already has V100-V107 applied)
  backend/src/main/resources/db/migration/V108__Add_lead_activity.sql
Due: deploy-backend

feat(ai): implement Virtual Coach nudging and LeadActivity tracking
  frontend/src/app/pages/dossiers/dossier-detail.component.css
  frontend/src/app/pages/dossiers/dossier-detail.component.html
  frontend/src/app/pages/dossiers/dossier-detail.component.ts
  frontend/src/app/services/dossier-api.service.ts
Due: build-frontend, deploy-frontend

feat(ai): integrate Whatsapp Twilio Gateway and Agent Tool Invocations
  backend/src/main/java/com/example/backend/controller/WhatsappController.java
  backend/src/main/java/com/example/backend/repository/DossierRepository.java
  backend/src/main/java/com/example/backend/service/WhatsappService.java
  brain/agent-service/main.py
Due: deploy-backend

feat(ai): integrate document-service for document validation and contract generation
  backend/src/main/java/com/example/backend/brain/BrainClientService.java
  backend/src/main/java/com/example/backend/brain/BrainProperties.java
  backend/src/main/java/com/example/backend/brain/dto/ContractGenerateRequest.java
  backend/src/main/java/com/example/backend/brain/dto/ContractGenerateResponse.java
  backend/src/main/java/com/example/backend/brain/dto/DocumentVerifyRequest.java
  backend/src/main/java/com/example/backend/brain/dto/DocumentVerifyResponse.java
  backend/src/main/java/com/example/backend/controller/ContractController.java
  backend/src/main/java/com/example/backend/service/DocumentService.java
  backend/src/main/resources/application.yml
  brain/document-service/Dockerfile
  brain/document-service/main.py
  brain/document-service/requirements.txt
  frontend/angular.json
  frontend/src/app/components/document-list.component.html
  frontend/src/app/components/document-list.component.ts
  frontend/src/app/pages/dossiers/dossier-detail.component.html
  frontend/src/app/pages/dossiers/dossier-detail.component.ts
  frontend/src/app/services/dossier-api.service.ts
  infra/docker-compose.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix: configure Keycloak to trust reverse proxy headers for HTTPS URLs
  infra/docker-compose.yml
Due: deploy-backend

fix: KC_HOSTNAME must be hostname only, not full URL (Keycloak adds https:// itself)
  infra/docker-compose.yml
Due: deploy-backend

fix: point production OIDC issuer to identity.afroware.app, enable requireHttps
  frontend/src/environments/environment.prod.ts
Due: build-frontend, deploy-frontend

fix: add afroware.app redirect URIs to Keycloak atlas-frontend client
  infra/keycloak/realm-export.json
Due: none

fix: set OAUTH2_ISSUER_URI to identity.afroware.app so backend validates production JWTs
  infra/docker-compose.yml
Due: deploy-backend

feat(ai): configure AI explainer tooltips and Pricing & Fraud module (Option D and E)
  backend/src/main/java/com/example/backend/brain/BrainScoringService.java
  backend/src/main/java/com/example/backend/controller/AnnonceController.java
  backend/src/main/java/com/example/backend/dto/AnnonceMapper.java
  backend/src/main/java/com/example/backend/dto/AnnonceResponse.java
  backend/src/main/java/com/example/backend/repository/AnnonceRepository.java
  backend/src/main/java/com/example/backend/repository/DossierRepository.java
  backend/src/main/java/com/example/backend/repository/LeadActivityRepository.java
  backend/src/main/java/com/example/backend/service/AnnonceService.java
  backend/src/main/java/com/example/backend/service/YieldManagementService.java
  frontend/src/app/components/ai-agent-panel.component.ts
  frontend/src/app/components/document-list.component.html
  frontend/src/app/pages/annonces/annonces.component.ts
  frontend/src/app/pages/dashboard/dashboard.component.html
  frontend/src/app/pages/dashboard/dashboard.component.ts
  frontend/src/app/pages/dossiers/dossier-detail.component.css
  frontend/src/app/pages/dossiers/dossier-detail.component.html
  frontend/src/app/services/annonce-api.service.ts
Due: build-frontend, deploy-frontend, deploy-backend

fix: resolve OIDC authentication failures in production
  frontend/src/app/services/auth.service.ts
  frontend/src/service-worker.js
  infra/docker-compose.yml
Due: build-frontend, deploy-frontend, deploy-backend

fix: prevent freeze on Rapports and PKI pages
  frontend/src/app/components/observability-dashboard.component.ts
  frontend/src/app/components/reports-dashboard.component.ts
Due: build-frontend, deploy-frontend

fix: resolve service-worker staleWhileRevalidate clone error and bump cache to v2
  frontend/src/service-worker.js
Due: build-frontend, deploy-frontend

feat: inject BrainClientService into DossierService, add off-market query and fix V33 migration
  backend/src/main/java/com/example/backend/controller/DossierController.java
  backend/src/main/java/com/example/backend/repository/AnnonceRepository.java
  backend/src/main/java/com/example/backend/service/DossierService.java
  backend/src/main/resources/db/migration/V33__Add_in_app_notification_fields.sql
  backend/src/test/java/com/example/backend/service/DossierServiceOffMarketTest.java
  backend/src/test/java/com/example/backend/service/YieldManagementServiceTest.java
Due: deploy-backend

fix: revert V33 migration to restore original checksum
  backend/src/main/resources/db/migration/V33__Add_in_app_notification_fields.sql
Due: deploy-backend

fix: eliminate infinite change detection loop in observability dashboard
  frontend/src/app/components/observability-dashboard.component.html
  frontend/src/app/components/observability-dashboard.component.ts
Due: build-frontend, deploy-frontend

fix: run Chart.js outside Angular zone to stop CD loop on observability page
  frontend/src/app/components/observability-dashboard.component.ts
Due: build-frontend, deploy-frontend

test(frontend): add E2E test for Agentic Flow and unit tests for UI components
  frontend/e2e/atlas-agentic-flow.spec.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/ai-agent-panel.component.spec.ts
  frontend/src/app/components/waterfall-chart.component.spec.ts
  frontend/src/app/components/waterfall-chart.component.ts
  frontend/src/app/interceptors/http-cache.interceptor.ts
  frontend/src/app/services/http-cache.service.ts
Due: build-frontend, deploy-frontend

docs/chore: add QUICK_START.md and dev-setup.ps1 script for 5-minute onboarding
  QUICK_START.md
  scripts/dev-setup.ps1
Due: none

docs/adr: add architecture decision records for outbox pattern, indexeddb and multi-tenancy
  docs/adr/0001-outbox-pattern-for-messaging.md
  docs/adr/0002-indexeddb-for-offline-storage.md
  docs/adr/0003-multi-tenant-isolation-strategy.md
Due: none

style(ui): fix annonce list table headers and create stepper responsiveness
  frontend/src/app/pages/annonces/annonce-create.component.css
  frontend/src/styles.css
Due: build-frontend, deploy-frontend

feat(dashboard): B2B Go-To-Market Phase 1 UI Simplification (KPIs & Nav)
  frontend/src/app/pages/dashboard/dashboard.component.html
  frontend/src/app/pages/dashboard/dashboard.component.ts
Due: build-frontend, deploy-frontend

style(ui): force global badge CSS in generic-table via ::ng-deep
  frontend/src/app/components/generic-table.component.css
Due: build-frontend, deploy-frontend

feat(onboarding): B2B GTM tenant provisioning script and mock data toggling
  backend/src/main/java/com/example/backend/loader/SeedDataLoader.java
  backend/src/main/java/com/example/backend/service/WhatsappService.java
  infra/scripts/create-tenant.ps1
Due: deploy-backend

feat(ai): RAG context awareness for WhatsApp lead interactions
  backend/src/main/java/com/example/backend/service/WhatsappService.java
  brain/agent-service/main.py
Due: deploy-backend

fix(ui): gracefully handle LLM timeout to avoid infinite loading dots
  frontend/src/app/services/ai-agent.service.ts
Due: build-frontend, deploy-frontend

feat(ai): prepare fine-tuning dataset generator with cultural awareness
  brain/training/data_prep.py
Due: none

feat(ai): generated 15-item training dataset (ShareGPT) for phase 6
  atlas_training_dataset.jsonl
  brain/training/data_prep.py
Due: none

feat(ai): add Unsloth QLoRA training script for local Jupyter Lab
  brain/training/train_unsloth.py
Due: none

ci: trigger backend and frontend tests on push to main
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix(frontend): tests - Lottie, Dashboard template, PdfTemplate, Settings, AnimatedEmpty stub, RegionRouting flush, ProgressBar discardPeriodicTasks
  frontend/src/app/components/animated-empty-state.component.spec.ts
  frontend/src/app/components/lottie-animation.component.spec.ts
  frontend/src/app/components/progress-bar.component.spec.ts
  frontend/src/app/components/settings-page.component.spec.ts
  frontend/src/app/pages/dashboard/dashboard.component.html
  frontend/src/app/services/pdf-template.service.spec.ts
  frontend/src/app/services/region-routing.service.spec.ts
Due: build-frontend, deploy-frontend

fix(frontend): tests - CalendarView async/flush, CommandPalette AiAgent mock, NotificationPrefs saving, Toast activeToasts, TourDefinition steps
  frontend/src/app/components/calendar-view.component.spec.ts
  frontend/src/app/components/command-palette.component.spec.ts
  frontend/src/app/components/notification-preferences-form.component.spec.ts
  frontend/src/app/services/toast-notification.service.spec.ts
  frontend/src/app/services/tour-definition.service.ts
Due: build-frontend, deploy-frontend

fix(frontend): tests - Lottie load error stub, UserPrefs localStorage/merge/polling/retry, AnimatedEmptyState CommonModule+assertions, ProgressBar discardPeriodicTasks
  frontend/src/app/components/animated-empty-state.component.spec.ts
  frontend/src/app/components/lottie-animation.component.spec.ts
  frontend/src/app/components/progress-bar.component.spec.ts
  frontend/src/app/services/user-preferences.service.spec.ts
Due: build-frontend, deploy-frontend

fix(frontend): UserPreferencesService polling tests - predicate match, flushMicrotasks, optional lastSync and poll flush
  frontend/src/app/services/user-preferences.service.spec.ts
Due: build-frontend, deploy-frontend

Path conditions:
  build-frontend: any of: frontend/**/*, infra/nginx.conf, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, infra/nginx.conf, .gitlab-ci.yml
  deploy-backend: any of: backend/**/*, infra/docker-compose.yml, .gitlab-ci.yml
