Repository lamallamadel/atlas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, deploy-backend, test-frontend, build-frontend, deploy-frontend

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
    - backend/.m2/repository/
  script:
  - cd backend
  - mvn -B -ntp verify -Dspring.profiles.active=test
  artifacts:
    reports:
      junit: backend/target/surefire-reports/TEST-*.xml
    expire_in: 1 week
  ...

deploy-backend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

test-frontend:
  stage: test
  image: node:18-bookworm
  before_script:
  - apt-get update -qq && apt-get install -y -qq chromium
  - export CHROME_BIN=/usr/bin/chromium
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - cd frontend
  - npm ci --prefer-offline
  ...

build-frontend:
  stage: build
  image: node:18-alpine
  needs:
  - job: test-frontend
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull
  script:
  - cd frontend
  - npm ci --prefer-offline
  - npm run build
  artifacts:
    name: frontend-dist-$CI_COMMIT_SHORT_SHA
    paths:
  ...

deploy-frontend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

Build comprehensive WhatsApp test utilities with factory methods, fluent API builders, mock server container, and assertion helpersCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/test/java/com/example/backend/testutils/WhatsAppTestFixtures.java
Due: test-backend, deploy-backend

Replace manual retry logic with Resilience4j configuration and annotationsCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/main/java/com/example/backend/config/OutboundResilienceConfig.java
  backend/src/main/java/com/example/backend/service/JavaMailEmailProvider.java
  backend/src/main/java/com/example/backend/service/OutboundJobWorker.java
  backend/src/main/java/com/example/backend/service/TwilioSmsProvider.java
  backend/src/main/java/com/example/backend/service/WhatsAppCloudApiProvider.java
  backend/src/test/java/com/example/backend/service/WhatsAppCloudApiProviderTest.java
  backend/src/test/java/com/example/backend/testutils/WhatsAppTestFixtures.java
Due: test-backend, deploy-backend

Create production diagnostics dashboard controller with session, retry queue, dry-run, and error pattern endpoints
  backend/src/main/java/com/example/backend/controller/WhatsAppDiagnosticsController.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppDryRunRequest.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppDryRunResponse.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppErrorPatternDto.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppErrorPatternsResponse.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppQueuedMessageDto.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppRetryQueueResponse.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppSessionWindowDto.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppSessionsResponse.java
Due: test-backend, deploy-backend

Add comprehensive session window edge case tests for phone normalization, concurrency, cleanup, and cross-org isolationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/test/java/com/example/backend/service/WhatsAppSessionWindowServiceTest.java
Due: test-backend, deploy-backend

Document WhatsApp integration troubleshooting with OpenTelemetry traces, diagnostics endpoints, error mapping, recovery procedures, and monitoring dashboards
  docs/PRODUCTION_RUNBOOK_WHATSAPP.md
Due: none

Fix WhatsApp outbound retry logic and resolve backend test configuration issues
  backend/src/main/java/com/example/backend/config/OutboundResilienceConfig.java
  backend/src/main/java/com/example/backend/config/Resilience4jConfig.java
  backend/src/main/java/com/example/backend/entity/AppointmentEntity.java
  backend/src/main/java/com/example/backend/repository/AppointmentRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/OutboundJobWorker.java
  backend/src/main/resources/db/migration/V132__Add_appointment_reminder_sent.sql
  backend/src/test/java/com/example/backend/annotation/BackendE2ETest.java
  backend/src/test/java/com/example/backend/config/TestSecurityConfig.java
  docs/MVP_ROADMAP.md
  docs/PROJECT_STATUS.md
Due: test-backend, deploy-backend

refactor: améliorer le rappel de rendez-vous pour les dossiers sans partie prenante
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/test/java/com/example/backend/AppointmentReminderIntegrationTest.java
Due: test-backend, deploy-backend

feat: ajout du repository de consentement et modification de la configuration du consentement dans les tests d'intégration de rappel de rendez-vous
  backend/src/test/java/com/example/backend/AppointmentReminderIntegrationTest.java
Due: test-backend, deploy-backend

Add consent type-aware validation logic with TRANSACTIONNEL and MARKETING distinctionCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/main/java/com/example/backend/repository/ConsentementRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/MagicLinkAuthService.java
  backend/src/main/java/com/example/backend/service/OutboundMessageService.java
  backend/src/test/java/com/example/backend/AppointmentReminderIntegrationTest.java
Due: test-backend, deploy-backend

Implement consent expiration and renewal workflow with scheduled reminders and renewal endpointCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/main/java/com/example/backend/controller/ConsentementController.java
  backend/src/main/java/com/example/backend/dto/ConsentementCreateRequest.java
  backend/src/main/java/com/example/backend/dto/ConsentementMapper.java
  backend/src/main/java/com/example/backend/dto/ConsentementResponse.java
  backend/src/main/java/com/example/backend/entity/ConsentementEntity.java
  backend/src/main/java/com/example/backend/entity/enums/ActivityType.java
  backend/src/main/java/com/example/backend/repository/ConsentementRepository.java
  backend/src/main/java/com/example/backend/service/ConsentExpirationScheduler.java
  backend/src/main/java/com/example/backend/service/ConsentementService.java
  backend/src/main/java/com/example/backend/service/OutboundMessageService.java
  backend/src/main/resources/db/migration/V133__Add_consent_expiration.sql
Due: test-backend, deploy-backend

Add configurable reminder templates and multi-channel fallback to appointment reminder schedulerCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/APPOINTMENT_REMINDER_MULTI_CHANNEL.md
  backend/src/main/java/com/example/backend/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/example/backend/dto/AppointmentMapper.java
  backend/src/main/java/com/example/backend/dto/AppointmentResponse.java
  backend/src/main/java/com/example/backend/dto/AppointmentUpdateRequest.java
  backend/src/main/java/com/example/backend/entity/AppointmentEntity.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/TemplateInterpolationService.java
  backend/src/main/resources/db/migration/V134__Add_appointment_reminder_config.sql
  backend/src/main/resources/db/migration/V135__Seed_appointment_reminder_template.sql
Due: test-backend, deploy-backend

Build appointment reminder analytics dashboard with metrics table, service methods, report endpoint, and OpenAPI documentationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  backend/src/main/java/com/example/backend/controller/AppointmentReminderReportController.java
  backend/src/main/java/com/example/backend/dto/AppointmentReminderMetricsResponse.java
  backend/src/main/java/com/example/backend/entity/AppointmentReminderMetricsEntity.java
  backend/src/main/java/com/example/backend/repository/AppointmentReminderMetricsRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderMetricsService.java
  backend/src/main/resources/db/migration/V136__Create_appointment_reminder_metrics_table.sql
Due: test-backend, deploy-backend

Implement WhatsApp conversation flow manager for interactive appointment confirmationsCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  CONVERSATION_FLOW_IMPLEMENTATION.md
  backend/docs/CONVERSATION_FLOW.md
  backend/src/main/java/com/example/backend/controller/ConversationController.java
  backend/src/main/java/com/example/backend/controller/WhatsAppWebhookController.java
  backend/src/main/java/com/example/backend/dto/ConversationStateResponse.java
  backend/src/main/java/com/example/backend/dto/InboundMessageRequest.java
  backend/src/main/java/com/example/backend/entity/ConversationStateEntity.java
  backend/src/main/java/com/example/backend/entity/InboundMessageEntity.java
  backend/src/main/java/com/example/backend/entity/enums/ActivityType.java
  backend/src/main/java/com/example/backend/entity/enums/AppointmentStatus.java
  backend/src/main/java/com/example/backend/entity/enums/ConversationState.java
  backend/src/main/java/com/example/backend/repository/ConversationStateRepository.java
  backend/src/main/java/com/example/backend/repository/InboundMessageRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/ConversationExpirationScheduler.java
  backend/src/main/java/com/example/backend/service/ConversationResponseService.java
  backend/src/main/java/com/example/backend/service/ConversationStateManager.java
  backend/src/main/resources/db/migration/V137__Create_conversation_flow_tables.sql
  backend/src/test/java/com/example/backend/service/ConversationStateManagerTest.java
Due: test-backend, deploy-backend

Build WhatsApp template management API with Meta Business API integrationCo-Authored-By: Tonkotsu <tonkotsu-commits@tonkotsu.ai>
  IMPLEMENTATION_SUMMARY.md
  WHATSAPP_TEMPLATE_API_EXAMPLES.md
  backend/src/main/java/com/example/backend/controller/WhatsAppTemplateController.java
  backend/src/main/java/com/example/backend/controller/WhatsAppTemplateWebhookController.java
  backend/src/main/java/com/example/backend/dto/TemplatePreviewRequest.java
  backend/src/main/java/com/example/backend/dto/TemplatePreviewResponse.java
  backend/src/main/java/com/example/backend/dto/TemplateStatusWebhookPayload.java
  backend/src/main/java/com/example/backend/repository/WhatsAppTemplateRepository.java
  backend/src/main/java/com/example/backend/service/MetaBusinessApiService.java
  backend/src/main/java/com/example/backend/service/WhatsAppTemplateService.java
  backend/src/main/java/com/example/backend/util/TemplateVariableValidator.java
Due: test-backend, deploy-backend

Implement comprehensive consent audit trail with immutable event sourcing
  backend/src/main/java/com/example/backend/controller/ConsentAuditReportController.java
  backend/src/main/java/com/example/backend/dto/ConsentAuditReportResponse.java
  backend/src/main/java/com/example/backend/dto/ConsentEventMapper.java
  backend/src/main/java/com/example/backend/dto/ConsentEventResponse.java
  backend/src/main/java/com/example/backend/entity/ConsentEventEntity.java
  backend/src/main/java/com/example/backend/repository/ConsentEventRepository.java
  backend/src/main/java/com/example/backend/service/ConsentAuditReportService.java
  backend/src/main/java/com/example/backend/service/ConsentEventService.java
  backend/src/main/java/com/example/backend/service/ConsentExpirationScheduler.java
  backend/src/main/java/com/example/backend/service/ConsentementService.java
  backend/src/main/resources/db/migration/V138__Create_consentement_event_table.sql
Due: test-backend, deploy-backend

feat(ai): add Modular MAX OpenAI-compatible local LLM setup
  brain/agent-service/main.py
  brain/agent-service/requirements.txt
  infra/.env.example
  infra/README.md
  infra/docker-compose.yml
Due: deploy-backend

Implement WhatsApp rate limiting with hierarchical quotas and cost tracking
  .gitignore
  backend/WHATSAPP_RATE_LIMITING.md
  backend/src/main/java/com/example/backend/controller/WhatsAppDiagnosticsController.java
  backend/src/main/java/com/example/backend/dto/v2/WhatsAppQuotaUsageResponse.java
  backend/src/main/java/com/example/backend/entity/OrganizationSettings.java
  backend/src/main/java/com/example/backend/entity/WhatsAppCostTracking.java
  backend/src/main/java/com/example/backend/entity/enums/OutboundMessageStatus.java
  backend/src/main/java/com/example/backend/entity/enums/WhatsAppConversationType.java
  backend/src/main/java/com/example/backend/repository/OutboundMessageRepository.java
  backend/src/main/java/com/example/backend/repository/WhatsAppCostTrackingRepository.java
  backend/src/main/java/com/example/backend/service/OutboundJobWorker.java
  backend/src/main/java/com/example/backend/service/QuotaExceededHandler.java
  backend/src/main/java/com/example/backend/service/WhatsAppCostTrackingService.java
  backend/src/main/java/com/example/backend/service/WhatsAppQuotaResetScheduler.java
  backend/src/main/java/com/example/backend/service/WhatsAppRateLimitService.java
  backend/src/main/resources/db/migration/V139__Add_whatsapp_quota_tier_and_cost_tracking.sql
  backend/src/test/java/com/example/backend/service/WhatsAppRateLimitServiceTest.java
Due: test-backend, deploy-backend

Build intelligent appointment reminder scheduling with no-show prediction
  backend/src/main/java/com/example/backend/controller/AppointmentController.java
  backend/src/main/java/com/example/backend/dto/AppointmentCreateRequest.java
  backend/src/main/java/com/example/backend/dto/AppointmentMapper.java
  backend/src/main/java/com/example/backend/dto/AppointmentResponse.java
  backend/src/main/java/com/example/backend/dto/AppointmentUpdateRequest.java
  backend/src/main/java/com/example/backend/entity/AppointmentEntity.java
  backend/src/main/java/com/example/backend/entity/AppointmentReminderMetricsEntity.java
  backend/src/main/java/com/example/backend/entity/enums/ReminderStrategy.java
  backend/src/main/java/com/example/backend/repository/AppointmentReminderMetricsRepository.java
  backend/src/main/java/com/example/backend/repository/AppointmentRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderMetricsService.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/AppointmentService.java
  backend/src/main/java/com/example/backend/service/ModelTrainingService.java
  backend/src/main/resources/db/migration/V139__Add_reminder_strategy_to_appointment.sql
Due: test-backend, deploy-backend

docs: update CLAUDE.md with accurate migration range and service count
  CLAUDE.md
Due: none

feat: enhance whatsup workflow process
  backend/src/main/java/com/example/backend/controller/WhatsAppWebhookController.java
  backend/src/main/resources/db/migration-postgres/V143__Add_consent_expiration_partial_index.sql
  backend/src/main/resources/db/migration-postgres/V144__Add_conversation_state_partial_unique_index.sql
  backend/src/main/resources/db/migration/V133__Add_consent_expiration.sql
  backend/src/main/resources/db/migration/V135__Seed_appointment_reminder_template.sql
  backend/src/main/resources/db/migration/V137__Create_conversation_flow_tables.sql
  backend/src/main/resources/db/migration/V142__Add_reminder_strategy_to_appointment.sql
Due: test-backend, deploy-backend

Integrate Docker Build Cloud (buildx) into GitLab CI pipeline
  .gitlab-ci.yml
Due: test-backend, deploy-backend, test-frontend, build-frontend, deploy-frontend

Add Dockerfiles for multiplatform builds in CI pipeline
  infra/Dockerfile.backend
  infra/Dockerfile.frontend
Due: none

chore(seed): add e2e seed data for Portail annonces and Vitrine leads
  .gitignore
  backend/src/main/resources/db/e2e/V901__seed_atlasia_mocks.sql
  backend/src/main/resources/db/e2e/V902__seed_vitrine_leads.sql
Due: test-backend, deploy-backend

docs: Update Java from 17 to 21 and Spring Boot from 3.2.1 to 4.0.3
  AGENTS.md
  CLAUDE.md
  backend/AGENTS.md
  backend/README.md
Due: test-backend, deploy-backend

docs: Update JAVA_HOME configuration to use temurin via jabba
  AGENTS.md
  CLAUDE.md
  backend/README.md
Due: test-backend, deploy-backend

Move Dockerfile files from backend to infra and update docker-compose
  backend/Dockerfile.buildkit
  infra/Dockerfile.backend.buildkit
  infra/Dockerfile.backend.optimized
  infra/docker-compose.yml
Due: test-backend, deploy-backend

Add local development stack with H2, Redis, and llama.cpp
  infra/LOCAL_STACK_README.md
  infra/docker-compose.local.yml
  infra/download-model.ps1
  infra/download-model.sh
Due: none

Add nginx.conf and update docker-compose.local.yml
  infra/docker-compose.local.yml
  infra/nginx.conf
Due: deploy-frontend

Fix nginx config and add local dev welcome page
  infra/nginx.conf
Due: deploy-frontend

Create complete local dev stack with frontend, backend, brains
  infra/docker-compose.local.yml
  infra/nginx.conf
Due: deploy-frontend

feat(ui): standardize platform visual identity and enhance marketing animations
  frontend/src/app/pages/portail/home/portail-home.component.html
  frontend/src/app/pages/vitrine/home/vitrine-home.component.html
Due: test-frontend, build-frontend, deploy-frontend

chore: migrate angular core to v17
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/enhanced-form-example.component.html
  frontend/src/app/components/partie-prenante-form-dialog.component.html
  frontend/src/app/layout/app-layout/app-layout.component.html
  frontend/src/app/pages/vitrine/contact/contact.component.html
Due: test-frontend, build-frontend, deploy-frontend

chore: migrate angular-eslint to v17
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-frontend, deploy-frontend

fix(build): resolve angular 17 peer dependency conflicts and compiler errors
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/loading-skeleton.component.html
  frontend/src/app/components/skeleton-loader.component.html
Due: test-frontend, build-frontend, deploy-frontend

Path conditions:
  test-backend: any of: backend/**/*, .gitlab-ci.yml
  deploy-backend: any of: backend/**/*, infra/docker-compose.yml, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, infra/nginx.conf, .gitlab-ci.yml
