Repository lamallamadel/atlas: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, deploy-backend, test-frontend, build-frontend, deploy-frontend

test-backend:
  stage: test
  image: maven:3.9-eclipse-temurin-17
  cache:
    key: maven-$CI_COMMIT_REF_SLUG
    paths:
    - backend/.m2/repository/
  script:
  - cd backend
  - mvn -B -ntp verify -Dspring.profiles.active=test
  artifacts:
    reports:
      junit: backend/target/surefire-reports/TEST-*.xml
    expire_in: 1 week
  ...

deploy-backend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

test-frontend:
  stage: test
  image: node:18-bookworm
  before_script:
  - apt-get update -qq && apt-get install -y -qq chromium
  - export CHROME_BIN=/usr/bin/chromium
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - cd frontend
  - npm ci --prefer-offline
  ...

build-frontend:
  stage: build
  image: node:18-alpine
  needs:
  - job: test-frontend
  cache:
    key: npm-$CI_COMMIT_REF_SLUG
    paths:
    - frontend/node_modules/
    policy: pull
  script:
  - cd frontend
  - npm ci --prefer-offline
  - npm run build
  artifacts:
    name: frontend-dist-$CI_COMMIT_SHORT_SHA
    paths:
  ...

deploy-frontend:
  before_script:
  - apt-get update -qq && apt-get install -y -qq rsync openssh-client 2>/dev/null
  - eval $(ssh-agent -s)
  - echo "$DEPLOY_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - ssh-keyscan -H "$DEPLOY_HOST" >> ~/.ssh/known_hosts 2>/dev/null
  ...

chore: migrate angular-eslint to v18
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-frontend, deploy-frontend

build: finalize angular 18 migration, tooling and esbuild stability
  frontend/.eslintrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/stories/DesignTokens-Overview.mdx
  frontend/src/stories/Guidelines-Accessibility.mdx
  frontend/src/stories/Introduction.mdx
Due: test-frontend, build-frontend, deploy-frontend

chore: stash pre-migration state before angular 19 upgrade
  frontend/package-lock.json
Due: test-frontend, build-frontend, deploy-frontend

chore: migrate angular-eslint to v19
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-frontend, deploy-frontend

build: migrate to angular 19 application builder (esbuild) + fix typescript version
  frontend/angular.json
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/styles/shepherd-theme.css
  frontend/tsconfig.json
Due: test-frontend, build-frontend, deploy-frontend

refactor: optimize performance and finalize module-less architecture
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/annonces/annonces.module.ts
  frontend/src/app/pages/annonces/annonces.routes.ts
  frontend/src/app/pages/dashboard/dashboard.module.ts
  frontend/src/app/pages/dossiers/dossiers.module.ts
  frontend/src/app/pages/dossiers/dossiers.routes.ts
  frontend/src/app/pages/portail/portail.routes.ts
  frontend/src/app/pages/vitrine/vitrine.routes.ts
  frontend/src/app/pages/workflow-admin/workflow-admin.module.ts
  frontend/src/app/pages/workflow-admin/workflow-admin.routes.ts
Due: test-frontend, build-frontend, deploy-frontend

refactor(brain): enforce API key security and fix contract generation logic
  brain/agent/router.py
  brain/document/router.py
Due: none

chore: migration Java 25 (Maven, CI, Docker, docs et scripts)
  .github/workflows/accessibility-ci.yml
  .github/workflows/backend-e2e-tests.yml
  .github/workflows/ci-cd.yml
  .github/workflows/frontend-e2e-tests.yml
  .github/workflows/mobile-android-ci.yml
  .github/workflows/security-scan.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  README.md
  backend/AGENTS.md
  backend/README.md
  backend/pom.xml
  backend/src/main/java/com/example/backend/controller/PortalPublicController.java
  backend/src/main/java/com/example/backend/loader/SeedDataLoader.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/example/backend/SmokeTests.java
  backend/src/test/java/com/example/backend/annotation/BaseBackendE2ETest.java
  backend/toolchains.xml
  frontend/e2e/ci-example.yml
  infra/.dockerignore
  infra/Dockerfile.backend
  infra/Dockerfile.backend.buildkit
  infra/README.md
  infra/docker-compose.local.yml
  scripts/run-full-test-suite.sh
  scripts/use-temurin-25.ps1
  toolchains.xml
Due: test-backend, deploy-backend, test-frontend, build-frontend, deploy-frontend

fix: stabilize backend e2e regressions for Java 25
  backend/pom.xml.bak-jacoco
  backend/src/main/java/com/example/backend/config/WhatsAppHealthIndicator.java
  backend/src/main/java/com/example/backend/repository/ActivityRepository.java
  backend/src/main/java/com/example/backend/service/AppointmentReminderScheduler.java
  backend/src/main/java/com/example/backend/service/DossierService.java
  backend/src/main/java/com/example/backend/service/WhatsAppCloudApiProvider.java
  backend/src/main/resources/db/migration-postgres/V144__Add_conversation_state_partial_unique_index.sql
  backend/src/main/resources/db/migration/V145__Add_audit_columns_to_appointment_reminder_metrics.sql
  backend/src/test/java/com/example/backend/AppointmentBackendE2ETest.java
  backend/src/test/java/com/example/backend/AuditTrailBackendE2ETest.java
  backend/src/test/java/com/example/backend/CompleteWorkflowBackendE2ETest.java
  backend/src/test/java/com/example/backend/CorrelationIdIdempotenceTest.java
  backend/src/test/java/com/example/backend/DashboardKpiBackendE2ETest.java
  backend/src/test/java/com/example/backend/DossierBackendE2ETest.java
  backend/src/test/java/com/example/backend/FlywayMigrationBackendE2ETest.java
  backend/src/test/java/com/example/backend/InitializationOrderBackendE2ETest.java
  backend/src/test/java/com/example/backend/MessageBackendE2ETest.java
  backend/src/test/java/com/example/backend/MultiTenantBackendE2ETest.java
  backend/src/test/java/com/example/backend/OpenApiWiringTest.java
  backend/src/test/java/com/example/backend/PartiesPrenanteBackendE2ETest.java
  backend/src/test/java/com/example/backend/SecurityBackendE2ETest.java
  backend/src/test/java/com/example/backend/SmokeTests.java
  backend/src/test/java/com/example/backend/WhatsAppOutboundComprehensiveE2ETest.java
  backend/src/test/java/com/example/backend/WhatsAppOutboundFlowBackendE2ETest.java
  backend/src/test/java/com/example/backend/WhatsAppProviderIntegrationTest.java
  backend/src/test/java/com/example/backend/annotation/BackendE2ETest.java
  backend/src/test/java/com/example/backend/annotation/BaseBackendE2ETest.java
  backend/src/test/java/com/example/backend/aspect/AuditAspectIntegrationTest.java
  backend/src/test/java/com/example/backend/controller/AnnonceBackendE2ETest.java
  backend/src/test/java/com/example/backend/controller/NotificationBackendE2ETest.java
  backend/src/test/java/com/example/backend/controller/WhatsAppIntegrationBackendE2ETest.java
  backend/src/test/java/com/example/backend/repository/DossierRepositoryTest.java
  backend/src/test/resources/application-backend-e2e.yml
  backend/src/test/resources/application-test.yml
Due: test-backend, deploy-backend

fix(styles): retirer titres blancs forcés sur observabilité
  frontend/src/styles/_atlasia-special-screens-fix.scss
Due: test-frontend, build-frontend, deploy-frontend

fix(nav): améliorer le contraste des entrées secondaires
  frontend/src/styles/_atlasia-pro-navigation.scss
Due: test-frontend, build-frontend, deploy-frontend

fix(ds): garantir la couleur du titre ds-page-header en mode clair
  frontend/src/app/design-system/patterns/page-header/page-header.component.scss
Due: test-frontend, build-frontend, deploy-frontend

feat(styles): thème FullCalendar DS unifié (marine/copper)
  frontend/src/styles/_fullcalendar-ds.scss
Due: test-frontend, build-frontend, deploy-frontend

refactor(calendar): harmoniser les surcharges FullCalendar avec les tokens DS
  frontend/src/app/components/calendar-view.component.css
Due: test-frontend, build-frontend, deploy-frontend

refactor(observability): écran métriques aligné sur le design system
  frontend/src/app/components/observability-dashboard.component.css
  frontend/src/app/components/observability-dashboard.component.html
  frontend/src/app/components/observability-dashboard.component.ts
  frontend/src/stories/Pages-Observability.stories.ts
Due: test-frontend, build-frontend, deploy-frontend

refactor(tasks): liste et calendrier alignés DS + branchement styles
  frontend/src/app/components/task-list.component.css
  frontend/src/app/components/task-list.component.html
  frontend/src/app/components/task-list.component.spec.ts
  frontend/src/app/components/task-list.component.ts
  frontend/src/app/design-system/tokens/_ds-semantic.scss
  frontend/src/app/design-system/tokens/_ds-tokens.scss
  frontend/src/app/design-system/tokens/index.scss
  frontend/src/app/design-system/tokens/tokens.spec.ts
  frontend/src/styles.scss
  frontend/src/styles/_atlasia-core-flows.scss
  frontend/src/styles/_atlasia-density-correction.scss
  frontend/src/styles/_atlasia-dossiers-scroll-fix.scss
  frontend/src/styles/_atlasia-page-patterns.scss
  frontend/src/styles/_atlasia-pro-shell.scss
  frontend/src/styles/_atlasia-public-portal.scss
  frontend/src/styles/_atlasia-semantic-pages.scss
  frontend/src/styles/_atlasia-table-dialog-repair.scss
Due: test-frontend, build-frontend, deploy-frontend

fix(frontend): Karma CI — composants standalone, specs et couverture
  frontend/karma.conf.js
  frontend/src/app/app.component.spec.ts
  frontend/src/app/components/chart/chart.component.spec.ts
  frontend/src/app/components/chart/chart.component.ts
  frontend/src/app/components/notification-center.component.ts
  frontend/src/app/components/re-icon/re-icon.component.spec.ts
  frontend/src/app/components/re-icon/re-icon.component.ts
  frontend/src/app/components/region-status/region-status.component.spec.ts
  frontend/src/app/components/region-status/region-status.component.ts
  frontend/src/app/components/spinner.component.spec.ts
  frontend/src/app/components/tour-progress.component.spec.ts
  frontend/src/app/components/tour-progress.component.ts
  frontend/src/app/components/workflow-stepper.component.spec.ts
  frontend/src/app/components/workflow-stepper.component.ts
  frontend/src/app/design-system/tokens/tokens.spec.ts
  frontend/src/app/services/push-notification.service.ts
Due: test-frontend, build-frontend, deploy-frontend

feat(frontend): mode zoneless Angular 21 et templates au typage strict
  frontend/angular.json
  frontend/package.json
  frontend/src/app/app.config.ts
  frontend/src/app/components/animated-empty-state.component.html
  frontend/src/app/components/inline-validation-suggestion.component.ts
Due: test-frontend, build-frontend, deploy-frontend

test(frontend): CI test:ci, Vitest user-preferences, e2e registry, reporters
  .github/workflows/ci-cd.yml
  .gitlab-ci.yml
  frontend/angular.json
  frontend/e2e/critical-flows.spec.ts
  frontend/package.json
  frontend/playwright-h2-keycloak.config.ts
  frontend/playwright-postgres-keycloak.config.ts
  frontend/playwright-postgres-mock.config.ts
  frontend/playwright.config.ts
  frontend/src/app/services/user-preferences.service.spec.ts
  frontend/src/setup-vitest.ts
  frontend/tsconfig.spec.json
Due: test-backend, deploy-backend, test-frontend, build-frontend, deploy-frontend

Path conditions:
  test-backend: any of: backend/**/*, .gitlab-ci.yml
  deploy-backend: any of: backend/**/*, infra/docker-compose.yml, .gitlab-ci.yml
  test-frontend: any of: frontend/**/*, .gitlab-ci.yml
  build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy-frontend: any of: frontend/**/*, infra/nginx.conf, .gitlab-ci.yml
